<div id="<%= dom_id todo %>">
  <p>
    <strong>Category:</strong>
    <%= todo.category %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= todo.description %>
  </p>

  <p>
    <strong>Checked:</strong>
    <%= todo.checked %>
  </p>

  <p>
    <strong>User:</strong>
    <%= todo.user_id %>
  </p>

  <p>
    <strong>Default:</strong>
    <%= todo.default %>
  </p>

</div>
